<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EGOEntities" connectionString="metadata=res://*/EGOModel.csdl|res://*/EGOModel.ssdl|res://*/EGOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EGO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="test.Properties.Settings.EGOConnectionString" connectionString="Data Source=localhost;Initial Catalog=EGO;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>